# ignore non-dotfiles in the root directory
/[^.]*

# ignore these files in any directory
.DS_Store
*.swp

# ignore these dotfiles in the root directory
/.*_history
/.Trash
/.Xauthority
/.aap
/.cups
/.fontconfig
/.gdbinit
/.private.git
/.public.git
/.inkscape
/.inkscape-etc
/.lesshst
/.neverball
/.parallels_settings
/.rnd
/.viminfo

# ignore these files in subdirs
/.ssh/config

/.ssh/id_dsa
/.ssh/id_dsa.pub
/.mtr
/.bash_profile
