# ignore non-dotfiles in the root directory
/[^.]*

# ignore these files in any directory
.DS_Store
*.swp

# ignore these dotfiles in the root directory
/.*_history
/.Trash
/.Xauthority
/.cups
/.fontconfig
/.git-private-universal
/.git-public
/.inkscape
/.inkscape-etc
/.lesshst
/.parallels_settings
/.viminfo

# ignore these files in subdirs
/.ssh/config

